<!DOCTYPE html>
<html>

<head>

</head>




<body class="bg-dark text-white">



        <div style='
          width: auto;
          border: 1px solid #000000;
          border-radius: 4px;
          overflow: hidden;
          background-color: #ffffff;
          background: #ffffff;

          display: flex;
          flex-direction: column;
          text-align:center;
        '><p style="text-align:center;"> {{ messagers_email }} </p></div>
        <br>

        <div style='
          width: auto;
          border: 1px solid #000000;
          border-radius: 4px;
          overflow: hidden;
          background-color: #ffffff;
          background: #ffffff;

          display: flex;
          flex-direction: column;
          text-align:center;
        '><p style="text-align:center;"> {{ messagers_message }} </p></div>
        <br>
  

</body>

</html>
